.black {
    .main-head {
        background-color: black;
    }

    .content {
        background-color: black;
    }

    .main-nav {
        background-color: black;
    }

    .side {
        background-color: black;
    }

    .ad {
        background-color: black;
    }

    .main-footer {
        background-color: black;
    }

    color: white;
    background-color: black;
}

@media (prefers-colors-scheme: dark) {
    .black {
        .main-head {
            background-color: black;
        }

        .content {
            background-color: black;
        }

        .main-nav {
            background-color: black;
        }

        .side {
            background-color: black;
        }

        .ad {
            background-color: black;
        }

        .main-footer {
            background-color: black;
        }

        color: white;
        background-color: black;
    }
}